.buttonStyle {

  border-radius: 0 !important;
  width: 30vmin !important;
  height: 8vmin !important;
  font-size: 3vmin !important;
  min-width: unset !important;
  min-height: unset !important;
  border: 0.2vmin solid black !important;
  cursor: pointer;
}

.selectedButtonStyle {

  border-radius: 0 !important;
  width: 30vmin !important;
  height: 8vmin !important;
  font-size: 3vmin !important;
  min-width: unset !important;
  min-height: unset !important;
  border: 0.2vmin solid black !important;
}

.navBar {
  border: 0.5vmin solid black;
  height: 86.1vmin;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
