.addButton {
  background-color: blueviolet;
  color: white;
  width: 100px;
  height: 30px;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.topBarText {
  display: flex;
  flex-direction: row;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  height: 1.2em;
  white-space: nowrap;
  margin-right: 4px !important;
  margin-left: 4px !important;
}

.booksArea {
  display: flex;
  flex-direction: column;

  width: 90%;
}

.addBookComponent:hover {
  background-color: aqua;
}

.addBookComponent {
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  max-width: 300px !important;
  height: 1.2em !important;
  white-space: nowrap !important;
}
