.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2vmin;
}

.topBarText {
  display: flex;
  flex-direction: row;
  font-size: 3vmin;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.title {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  height: 1.2em !important;
  white-space: nowrap !important;
  margin-right: 1vmin !important;
  margin-left: 1vmin !important;
  width: 50% !important;
}

.booksArea {
  display: flex;
  flex-direction: column;

  width: 90%;
}

.dataSection {
  border: 0.5vmin solid black;
  height: 80v;
  padding: 20px;
  width: 50%;
  padding: 2vmin;
}
