.bookContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;

  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
  border-radius: 10px;
  background-color: rgb(221, 187, 187);

  margin-bottom: 10px;
  min-height : 40px;
}

.selectedBookContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgb(156, 83, 83);
  color: white;
  min-height : 40px;
  align-items: center;
}

.dataSection {
  display: flex;
  padding-right: 5px;
  flex-direction: column;
  margin-bottom: 0;
}

.name {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  border: none;
  margin-left: 7px;
}



.deleteButton:hover {
  font-size: 30px;
  border-color: transparent;
}

.editButton:hover {
  font-size: 30px;
  border-color: transparent;
}


.text {
  font-size: large; 
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  height: 1.2em;
  white-space: nowrap;

}


.editBox {
  font-size: large;
  border-radius: 10px;
  border-color: white;
  background-color: rgb(156, 83, 83) ;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
}
